
###############
#   SECRETS   #
###############

TOKEN
CLIENT
GUILD
REDDIT
data/*.key


###############
#   BOT DAT   #
###############


# global data
prefix
cmduse
emoteuse
command-perms
command-results
lottery.json
wiki/*

# user data
economy.json
inventory.json
petinventory.json
user-options.json
timers.json
vars

###############
#   CONFIGS   #
###############

node_modules

###############
#   CMD OUT   #
###############

*.txt
*.png
*.mp3
*.mp4
*.jsonl
*::[[:digit:]]*.html
help.html
log.txt

###############
# BUILD STUFF #
###############

make-changelog
*.js

###############
#     MISC    #
###############

out
*.bircle

###############
#   INCLUDE   #
###############

!wiki/index.txt
!help.txt
!command-perms/holder
