TOKEN
node_modules
CLIENT
GUILD
REDDIT
help.html
prefix
cmduse
emoteuse
command-perms
command-results
log.txt
make-changelog
*.txt
*.png
out
economy.json
lottery.json
inventory.json
petinventory.json

index.js
economy.js
pets.js
shop.js
uno.js

!command-perms/holder
