
###############
#   SECRETS   #
###############

TOKEN
CLIENT
GUILD
REDDIT
data/*.key



###############
#   BOT DAT   #
###############


# global data
prefix
cmduse
emoteuse
command-perms
command-results
lottery.json
wiki/*

# user data
economy.json
inventory.json
petinventory.json
user-options.json
timers.json
vars

data/custom-endpoints
data/achievements.json
data/custom-endpoints.json
data/match-commands
data/travel.json

database

website/server.d.ts



###############
#   CONFIGS   #
###############

node_modules

###############
#   CMD OUT   #
###############

*.txt
*.png
*.mp3
*.mp4
*.jsonl
*::[[:digit:]]*.html
help.html
log.txt

###############
# BUILD STUFF #
###############

make-changelog
*.js
*.js.map
*.map
docs

###############
#     MISC    #
###############

out
*.bircle
tags
garbage-files/*
*.html
TODO
history
yarn.lock
bun.lockb
CONFIG.json
economy-old.json

###############
#   INCLUDE   #
###############

!wiki/index.txt
!help.txt
!command-perms/holder
!assets/
!src/bircle-bin/*
