:root {
    --highlight: #ABE9B3;
    --link-color: pink;
    --selection: #96CDFB;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1E1E2E;
    color: #b8b8b8ff;
}

code {
    font-family: monospace;
    font-size: .8rem;
    background: #dddddd;
    color: #312325ff;
    padding: .2rem;
    border: 1px solid transparent;
    border-radius: 3px;
}

p {

    line-height: 1.5rem;
}

a {
    color: pink;
}

a:visited {
    color: pink;
    text-decoration-color: var(--selection);
}

ul li {
    line-height: 3ex;
}

summary {
    outline: none;
}

summary:hover{
    color: var(--highlight);
}
summary:focus{
    color: var(--selection);
}

summary:hover{
    cursor: pointer;
}


details {
    margin-left: 2rem;
}
summary {
    margin-left: -2rem;
}
